<h2>Create a dish</h2>

<form action="/dishes/create" method="post" enctype="multipart/form-data">
  <label>Name
    <input type="text" name="name" />
  </label>

  <label>
    Image
    <input type="file" name="image" />
  </label>

  <label>
    Ingredients
    <input type="text" name="ingredients" />
  </label>

  <label for="type">Type</label>
  <select name="type" id="type">
    <option value="starter">Starter</option>
    <option value="main">Main</option>
    <option value="dessert">Dessert</option>
  </select>
  <button type="submit">Create</button>
</form>