<div class="testing">
  {{name}}
  <img src="{{image}}" alt="" height="600" />
  {{ingredients}}

  <form class="rate" action="/dishes/{{_id}}" method="post">
    <input type="radio" id="star5" name="stars" value="5" />
    <label for="star5" title="text" onclick="showGoodComments()">5 stars</label>

    <input type="radio" id="star4" name="stars" value="4" />
    <label for="star4" title="text" onclick="showGoodComments()">4 stars</label>

    <input type="radio" id="star3" name="stars" value="3" />
    <label for="star3" title="text" onclick="showBadComments()">3 stars</label>

    <input type="radio" id="star2" name="stars" value="2" />
    <label for="star2" title="text" onclick="showBadComments()">2 stars</label>

    <input type="radio" id="star1" name="stars" value="1" />
    <label for="star1" title="text" onclick="showBadComments()">1 star</label>
    <br />
    <button type="submit">Submit</button>
  </form>

</div>