@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: Poppins;
  padding: 0;
  margin: 0;

}

body{
  background-color: black;
}

.navbar-brand,
.nav-link{
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: center;
  background-image: url(/images/bg.jpg);
  background-size: 120%;
  background-position-x: 70% ;
  background-position-y: 40% ;
  background-repeat: no-repeat;
}

.scroll-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catchphrase {
  color: #fec634;
  font-size: 1.2rem;
  text-align: justify;
  width: 43%;
  font-weight: 200;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-type {
  margin-top: 20%;
  text-align: center;
  color: #fec634;
  font-size: 1.5rem;
  font-weight: 600;
}

.container-type {
  padding-bottom: 2%;
  margin-bottom: 5%;
}

.where {
  font-weight: 600;
  text-align: center;
}

.maps-api {
  display: flex;
  justify-content: space-between;
  height: 30%;

  margin-bottom: 5%;
}

.adress,
.map {
  margin: 1%;
  height: 90%;
  width: 500px;

}
.forms{
  margin-top: 4%;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: black;        
}

body::-webkit-scrollbar-thumb {
  background-color: #fec634;  
  border-radius: 4px;       
  border: 1px solid black;
}

address {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  color: white;
  font-weight: 200;
  font-size: 1.1rem;

}

.where {
  color: #fec634;
  margin-bottom: 2%;
}

.fab{
  position: fixed;
  bottom:10px;
  right:10px;
}

.fab button{
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: #fec634;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  font-size: 24px;
  color: black;
    
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}

.fab button:focus{
  outline: none;
}

.fab button.main{
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  color: white;
  background-color: #fec634;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.fab button.main:before{
  content: '⏚';
}

.fab ul{
  position:absolute;
  bottom: 0;
  right: 0;
  padding:0;
  padding-right:5px;
  margin:0;
  list-style:none;
  z-index:10;
  
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}

.fab ul li{
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: -10%;
  opacity: 0;
  
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  transition: .3s ease-out;
}

.fab ul li label{
  margin-right:10px;
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  padding: 5px;
  padding-bottom: 25px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  border-radius:3px;
  height: 18px;
  font-size: 16px;
  pointer-events: none;
  opacity:0;
  
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  transition: .2s ease-out;
}

.fab.show button.main,
.fab.show button.main{
  outline: none;
  background-color: #000000;
  box-shadow: 0 3px 8px #fec634;
 }
 
.fab.show button.main:before,
.fab.show button.main:before{
  content: '↑';
}

.fab.show button.main + ul,
.fab.show button.main + ul{
  bottom: 70px;
}

.fab.show button.main + ul li,
.fab.show button.main + ul li{
  margin-bottom: 10px;
  opacity: 1;
}

.fab.show button.main + ul li:hover label,
.fab.show button.main + ul li:hover label{
  opacity: 1;
}
 .starters {
  margin-top: -5%;
 }
 .no-decoration {
  text-decoration: none;
 }
 .rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.testing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.time {
  margin-bottom: 5%;
}

.table-submit {
  background-color: #fec634;
  border: 0;
}

.qr-icon {
  margin-left: -14%;
}

.qr-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}