<div class="container">
<h1 class="manager-title">Manager Area</h1>

<canvas id="myChart"></canvas>



<input type="hidden" id="dish" value="{{dish}}">
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const ctx = document.getElementById("myChart");

const dish = document.getElementById("dish").value;
const dish1 = JSON.parse(dish);

new Chart(ctx, {
  type: "bar",
  data: {
      labels: dish1.map((item) => {
  return item.name
}),
    datasets: [
      {
        label: "Ratings Average",
        data: dish1.map((item) => {
          return item.average
        }),
        borderWidth: 1,
      },
    ],
  },
  options: {
    scales: {
      y: {
        beginAtZero: true,
      },
    },
  },
});
 
</script>