<h2 class="first-element">Create a dish</h2>

<form action="/manager/create" method="post" enctype="multipart/form-data">
  <label>Name
    <input type="text" name="name" required/>
  </label>

  <label>
    Image
    <input type="file" name="image" />
  </label>

  <label>
    Ingredients
    <input type="text" name="ingredients" required />
  </label>

  <label>
    Price
    <input type="number" name="price" required placeholder="0.00€" step="0.01" id="totalAmt" />
  </label>

  <label for="type">Type</label>
  <select name="type" id="type" required>
    <option disabled selected></option>
    <option value="starter">Starter</option>
    <option value="main">Main</option>
    <option value="dessert">Dessert</option>
  </select>
  <button type="submit">Create</button>
</form>