<div class="starters">
  <div class="cards-type margin">
    {{#each dish}}
      <div class="card" style="width: 18rem;">
        <img src={{image}} height="350" />
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <a href="/dishes/{{_id}}" class="btn btn-primary see-details">Discover</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>