<div
  class="login-container figure text-center d-flex justify-content-center body-bg"
  id="login-form"
>

  <form action="/auth/login" class="form-login" method="POST">
    <label>
      <span class="login-span"> Email</span>
      <br />
      <input
        type="email"
        name="email"
        placeholder="Your email"
        class="input-login"
      />
    </label>
    <br />
    <label>
      <span class="login-span">Password</span>
      <br />
      <input
        type="password"
        name="password"
        placeholder="Your password"
        class="input-login"
      />
    </label><br />

    <button type="submit" class="login-btn">Login</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>