<header>
  <h1>Catchphrase</h1>
</header>

<section>
  <div>
    <h3>Starter Course</h3>
    <a href="/dishes/starters">
      <img
        src="https://dicasdecasa.pt/wp-content/uploads/2018/03/entradas.jpg"
        width="250"
      /></a>
  </div>

  <div>
    <h3>Main Course</h3>
    <a href="/dishes/mains">
      <img
        src="https://www.socialbauru.com.br/wp-content/uploads/2019/09/categoria-prato-principal-1.jpg"
        width="250"
      /></a>
  </div>

  <div>
    <h3>Dessert</h3>
    <a href="/dishes/desserts">
      <img
        src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2015/11/148113/original/tiramisu.jpg"
        width="250"
      /></a>
  </div>
</section>

<footer>
  <div>
    <h3>Where are we?</h3>
    <div>
      <h3>Google Maps API</h3>
    </div>
  </div>
</footer>