<header class="container">
  <h1 class="catchphrase">Always a good IDEA!</h1>
</header>

<section class="container">
  <div class="container">
    <h3 class="text-type">Starter Course</h3>
    <a href="/dishes/starters">
      <img
        src="https://dicasdecasa.pt/wp-content/uploads/2018/03/entradas.jpg"
        width="250"
        height="250"  class="container"
      /></a>
  </div>

  <div class="container">
    <h3 class="text-type">Main Course</h3>
    <a href="/dishes/mains">
      <img
        src="https://www.socialbauru.com.br/wp-content/uploads/2019/09/categoria-prato-principal-1.jpg"
        width="250"
        height="250"  class="container"
      /></a>
  </div>

  <div class="container">
    <h3 class="text-type">Dessert</h3>
    <a href="/dishes/desserts">
      <img
        src="https://www.guiadasemana.com.br/contentFiles/system/pictures/2015/11/148113/original/tiramisu.jpg"
        width="250"
        height="250"  class="container"
      /></a>
  </div>
</section>

<footer class="container">
  <div>
    <h3>Where are we?</h3>
  </div>
  <h3>Google Maps API</h3>
</footer>